{% extends 'base.html' %}
{% block content %}
<div class="connexion_page">

    <div class="inscription">
        <form action="{% url 'signup' %}" class="button_inscription">
            <h3>Inscrivez-vous maintenant</h3>
            <button type="submit">S'inscrire</button>
        </form>
    </div>
    
    <div class="connexion">
        <form method="post" class="form_connexion">
            <h2>Connectez-vous</h2>
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Se connecter</button>
        </form>
    </div>
</div>
{% endblock content %}