{% extends 'base.html' %}
{% block content %}
    
    <div class="input_search_user">
        <h3>Suivre d'autres utilisateurs</h3>
        <form method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <button type="submit" >Envoyer</button>
        </form>
        {{ message }}
    </div>
    
    <div class="display_follows">
        <table>
            <caption><h3>Abonnements</h3></caption>
            {% for instance in follows %}
            <tr>
                <td class="td_follows">
                    {{instance}}
                </td>
                <td class="td_unfollows">
                    <a href="{% url 'remove_follow_users' instance.id %}">Désabonner</a>
                </td>
            </tr>  
            {% endfor %}
        </table>
    </div>
    <div class="display_followers">
        <table>
            <caption><h3>Abonné</h3></caption>
            {% for instance in following %}
            <tr>
                <td class="td_follows">
                    {{instance}}
                </td>
            </tr>   
            {% endfor %}
        </table>
    </div>
{% endblock content %}