{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}

    <div class="grid-container">
        
        <div class="button_flux">
            <form action="{% url 'ask_review' %}">
                <button type="submit">Demander une critique</button>
            </form>
    
            <form action="{% url 'create_review' %}">
                <button type="submit">Créer une critique</button>
            </form>
        </div>
        
        {% for instance in page_obj %}
        
            {% if instance|model_type == 'Review' %}
                {% if instance.ticket %}
                    <div class="post">
                        <div class="head_review">
                            {% if instance.user == user %}
                                <p><strong>Vous avez publié une critique</strong></p>
                            {% elif instance.user != user %}
                                <p><strong>Critique publié par {{ instance.user }}</strong></p>
                            {% endif %}
                            <p>{{ instance.date_created }}</p>
                        </div>

                        <p>{{ instance.title_review }}</p>
                        <span>Note:{{ instance.rating }}</span>
                        <p class="description">{{ instance.content }}</p>

                        <div class="ticket_response">
                            <div class="head_ticket">
                                <p><strong>Ticket - {{ instance.ticket.user}}</strong></p>
                                <p>{{ instance.ticket.date_created }}</p>
                            </div>
                            <h4> {{instance.ticket.title_ticket}} </h4>
                            <img src="{{ instance.ticket.image.url }}" alt="image_ticket">
                        </div> 
                        
                    </div>
                {% endif %}

            {% elif instance|model_type == 'Ticket' %}
                <div class="post">
                    <div class="head_ticket">
                        <p><strong>{{ instance.user}} a demandé une critique</strong></p>
                        <p>{{ instance.date_created }}</p>
                    </div>
                    <h4> {{instance.title_ticket}} </h4>
                    <p class="description">{{instance.description}}</p>
                    <img src="{{ instance.image.url }}" alt="image_ticket">
                    <form class="button_creer_critique" action="{% url 'review_response' instance.id %}">
                        <button type="submit">Créer une critique</button>
                    </form>
                </div> 
            {% endif %}
        {% endfor %}
    </div>
    {% include 'partials/page_navigator.html' %}
{% endblock content %}