{% extends 'base.html' %}
{% load blog_extras %}
{% block content %}

    <div class="grid-container">
        
        <div class="button_flux">
            <form action="{% url 'ask_review' %}">
                <button type="submit">Demander une critique</button>
            </form>
    
            <form action="{% url 'create_review' %}">
                <button type="submit">Créer une critique</button>
            </form>
        </div>
        
        {% for instance in review %}
                <div class="post">
                    <h4>{{ instance.title }}</h4>
                    <p><strong>Écrit par {{ instance.user }}</strong></p>
                    <p>{{ instance.date_created }}</p>
                    
                </div>
        {% endfor %}

        {% for instance in ticket %}
            <div class="post">
                <div class="head_ticket">
                    <p><strong>{{ instance.user}} a demandé une critique</strong></p>
                    <p>{{ instance.date_created }}</p>
                </div>
                <h4> {{instance.title}} </h4>
                <img src="{{ instance.image.url }}" alt="image_ticket">
                
                <button>Créer une critique</button>
            </div> 
        {% endfor %}
    </div>
    {% include 'partials/page_navigator.html' %}
{% endblock content %}