html {
    font-family: Arial;
}
.connexion_page{
    display: flex;
    justify-content: center;
}

.body{
    border: 4px solid #000000;
}

.button_inscription{
    margin-right: 50px;
}

.form_connexion{
    align-content: center;
}

.head_ticket{
    display: flex;
} 

.head_ticket p{
   flex: 2 1 auto;
} 
/* The sidebar menu */
.sidebar {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px 20px 0px;
    border: solid 1px #000000;
}

.sidebar nav{
    margin-right: 15px;
}

.button_flux{
    display: flex;
    justify-content: center;
}

.button_flux button{
    margin-right: 100px;
    background-color: white;
    padding: 15px 32px;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}


/* The navigation menu links */
.sidebar a {
    text-decoration: none;
    color:  #000000;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
    color: #080808;
}

/* Style page content */
.main {
    
    margin-left: 0px; /* Same as the width of the sidebar */
    padding: 100px;
}

.grid-container {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.post {
    Margin:0px 0px 10px 0px ;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    text-align: left;
}

.button_delet_and_modif{
    display: flex;
    justify-content: end;
    margin-bottom: 0cm;
}

.button_delet_and_modif button{
    margin-right: 20px;
    background-color: white;
    padding: 10px 28px;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

.post img {
    width: 200px;
    height: 200 px;
    border-radius: 5px;
}

/* ABONNEMENTS */

table{
    
    border-collapse: collapse;
    font-size: large;
}
td{
    border: 1px #000000 solid;
    padding: 10px;
}
.td_follows{
    width: 600px;
}

