html {
    font-family: Arial;
}

.body{
    border: 4px solid #000000;
}

.main {
    
    margin-left: 0px; 
    padding: 100px;
}

.post {
    Margin:0px 0px 10px 0px ;
    padding-top: 10px;
    padding-bottom: 5px;
    border: 1px solid #000000;
    text-align: left;
}

.post img {
    width: 200px;
    height: 200 px;
    border-radius: 5px;
}

.grid-container {
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* PAGE D'ACCEUIL */
.connexion_page{
    display: flex;
    justify-content: center;
}
.connexion_page button{
    margin-right: 20px;
    background-color: white;
    padding: 10px 28px;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

.inscription{
    display: flex;
    justify-content: left;
}

.connexion h2{
    display: block;
    justify-content: center;
    align-items: center;
}

.button_inscription{
    margin-right: 50px;
}

.form_connexion{
    align-content: center;
}
.button_flux{
    display: flex;
    justify-content: center;
}

.button_flux button{
    margin: 0px 60px;
    background-color: white;
    padding: 10px 50px;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

/* The sidebar menu */
.sidebar {
    display: flex;
    justify-content: flex-end;
    padding: 20px 0px 20px 0px;
    border: solid 1px #000000;
}

.sidebar nav{
    margin-right: 15px;
}

.sidebar a {
    text-decoration: none;
    color:  #155cc5;
    display: block;
}

.sidebar a:hover {
    color: #ff0000;
}

/* TICKET */
.head_ticket{
    display: flex;
} 

.head_ticket p{
   flex: 2 1 auto;
} 
.ticket_response{
    border: 1px #000000 solid;
    margin: 9;
}

/* REVIEW */
.head_review{
    display: flex;
}

.head_review p{
    flex: 1 1 auto;
}

.button_creer_critique{
    display: flex;
    justify-content: right;
}

.button_creer_critique button{
    justify-content: right;
    margin-right: 100px;
    background-color: white;
    padding: 9px 19px;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

/* ABONNEMENT */

.input_search_user h3{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_search_user p{
    width: 50%;
    height: 40px;
}

.input_search_user form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.input_search_user input{
    width: 50%;
    height: 40px;
}

.input_search_user p{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input_search_user button{
    margin-right: 20px;
    background-color: white;
    padding: 10px 28px;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}

.display_follows{
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_followers{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    
    border-collapse: collapse;
    font-size: large;
}
td{
    border: 1px #000000 solid;
    padding: 10px;
}
.td_follows{
    width: 600px;
}

/* PAGE POST */
.button_delet_and_modif{
    display: flex;
    justify-content: end;
    margin-bottom: 0cm;
}

.button_delet_and_modif button{
    margin-right: 20px;
    background-color: white;
    padding: 10px 28px;
    border-radius: 12px;
    font-size: large;
    cursor: pointer;
}
/* //////////// */
.description{
    word-wrap: break-word;
}

.salut h4{
    font-size:x-large;
    font-family:cursive;
    font-style: italic;
    color:rgb(22, 22, 182)
}
