{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}">
    </head>
    <body>
        <div class="sidebar">
            {% if user.is_authenticated %}
                <nav><a href="{% url 'home' %}">Flux</a></nav>
                <nav><a href="{% url 'post' %}">Posts</a></nav>   
                <nav><a href="{% url 'follow_users' %}">Abonnements</a></nav>
                <nav><a href="{% url 'logout' %}">Se déconnecter</a></nav>
            {% endif %}
        </div>

        <div class="salut">
            {% if user.is_authenticated %}
            <h4>Salut, {{ user }} !</h4>
            {% endif %}
        </div>

        <div class="main">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>
